--extra-index-url=https://wheelhouse.odoo-community.org/oca-simple
odoo11-addons-oca-account-analytic
odoo11-addons-oca-account-financial-reporting
odoo11-addons-oca-account-financial-tools
odoo11-addons-oca-account-invoicing
odoo11-addons-oca-account-payment
odoo11-addons-oca-bank-payment
odoo11-addons-oca-community-data-files
odoo11-addons-oca-l10n-spain
odoo11-addons-oca-mis-builder
odoo11-addons-oca-partner-contact
odoo11-addons-oca-reporting-engine
odoo11-addons-oca-server-tools
odoo11-addons-oca-server-ux
odoo11-addons-oca-stock-logistics-workflow
odoo11-addons-oca-web
odoo11-addon-connector
