-r  https://raw.githubusercontent.com/odoo/odoo/14.0/requirements.txt
phonenumbers
Pygments
setuptools-odoo
odoo-autodiscover
python-gitlab
http://nightly.odoo.com/14.0/nightly/src/odoo_14.0.latest.zip


